{%extends 'base.html'%}
{%block body_block%}
<div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{book.image.url}}"   alt="">
                <div class="card-body">
                    <h5 class="card-title">{{book.book_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.price}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.copies}}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>



{%endblock%}
